<% if @product.has_variants? %>
  <div id="product-variants">
    <% index = 0 %>
    <% @product.grouped_option_values.each do |type, values| %>
      <div id="<%= dom_id(type) %>" class="variant-options index-<%= index %>">
        <h6 class="variant-option-type">
          <%= label_tag 'option-value-name', Spree.t(:select_a, :index => index + 1, :name => type.presentation) %>&nbsp;
          <strong class='selection'></strong>
          <%= link_to "", "#clear", :class => "icon-remove clear-button clear-index-#{index}" %>
        </h6>

        <%= render partial: 'variant_options_carousel', locals: {values: values, index: index, type: type}%>
      </div>
      <% index += 1 %>
    <% end %>

    <%= hidden_field_tag "products[#{@product.id}]", "", :id => "variant_id", :class => "hidden" %>
    <%= hidden_field_tag :variant_id, "", :class => "hidden" %>
    
    <script type="text/javascript">
    //<![CDATA[
      var variant_options = new VariantOptions({
        options: <%== @product.variant_options_hash.to_json -%>,
        track_inventory_levels: <%==  !!Spree::Config[:track_inventory_levels] -%>,
        allow_select_outofstock: <%== !!SpreeVariantOptions::VariantConfig[:allow_select_outofstock] -%>,
        default_instock: <%== !!SpreeVariantOptions::VariantConfig[:default_instock] -%>,
        i18n: <%== {:out_of_stock => Spree.t(:out_of_stock), :variant_options_select => Spree.t(:variant_options_select) }.to_json -%>
      });
      $(function() {
        url = $.urlParam('<%=SpreeVariantOptions::VariantConfig.main_option_type_label%>')
        $("[title="+ url +"]").click();
      });
    //]]>
    </script>
  </div>
<% end%>
